[2020-06-21 11:18] camilamacedo86 opened #10 "Error `LeaderElectionID must be configured` faced when deploy the example"
The example is not working ;
[code]

[2020-06-21 14:46] camilamacedo86 opened #12 "Example is not creating the releases/pod nginx"
See:

[code]

When is expected:

[code]

[2020-06-21 14:51] camilamacedo86 opened #13 "Double check leader election implementation changes"
We should double-check that we don't lose anything important by switching to the leader election provided by controller-runtime (which by the way is the built-in kubernetes leader election).

- See in this project https://github.com/joelanford/helm-operator/blob/master/main.go#L121-L127
- see in the SDK https://github.com/operator-framework/operator-sdk/blob/72c1d96b5d121b406b7bf955e8d48481acb6d85

[2020-06-21 15:04] camilamacedo86 opened #14 "After make the example work properly, compare the logs from SDK and this project"
The reconcile implementation changed and we need to ensure that all required info will still be logged. See: https://github.com/joelanford/helm-operator/pull/1#discussion_r441781396

[2020-06-21 15:10] camilamacedo86 opened #15 "[Todo] - kube-state-metrics"
This project is missing the metrics impl.

[2020-06-21 15:12] camilamacedo86 opened #16 "Replace "gopkg.in/yaml.v2" for the k8s lib "sigs.k8s.io/yaml""
See: https://github.com/joelanford/helm-operator/pull/1#discussion_r441972954

[2020-06-22 00:59] camilamacedo86 opened #19 "replace ports for default ones in kb"
See that we have here:

[code]

When the new layout uses:

[code]

If we do not change it in the helm-operator then we might need to change the scaffolds. See: https://github.com/kubernetes-sigs/kubebuilder/search?q=8080

[2020-06-22 01:01] camilamacedo86 commented on #19
Hi @joelanford,

WDYT?

[2020-06-22 13:45] joelanford commented on #19
It is inevitable that we'll have to change the scaffolds from the default kubebuilder scaffolds. For example:
* we need to insert the `--leader-election-id` in the scaffold
* depending on our kube-state-metrics decision, we may need to do some extra stuff in the scaffolding to export those metrics on a separate port.
* we need to remove the webhook stuff since that is not supported by the helm-ope

[2020-06-22 14:03] joelanford commented on #16
Done [here](https://github.com/joelanford/helm-operator/commit/004b63ffc934e26a46c651015419ebcc5c6593b8)

[2020-06-22 14:03] #16 closed

[2020-06-22 14:04] joelanford commented on #15
One possible implementation is in the [`kube-state-metrics`](https://github.com/joelanford/helm-operator/tree/kube-state-metrics) branch.

However the approach is still under consideration.

[2020-06-22 14:20] camilamacedo86 commented on #19
Hi @joelanford,

When I speak over ` to change the scaffolds ` I mean about the conifg/templates files. So:

**(Not really true)**

See that with the PR https://github.com/joelanford/helm-operator/pull/11 we can address the option via to customize the ` --leader-election-id` via docs. What is the use case where the user really need to define the  `--leader-election-id` ? Is it a common scenario? W

[2020-06-22 14:36] joelanford commented on #19
Anytime leader election is enabled, which is the default for existing helm-operators AND in the kubebuilder go operators. See https://github.com/kubernetes-sigs/kubebuilder/blob/5413199261b87a22f7a30515862397e09f198bdf/pkg/plugin/v2/scaffolds/internal/templates/main.go#L244

We can't do it directly in `main.go` because that file is effectively shared by ALL helm-based operators.

Possibly, but tha

[2020-06-22 15:36] joelanford commented on #12
@camilamacedo86 Just double checking, after you ran `make deploy` in the example, did you run `kubectl apply -f ./config/samples/helm_v1_nginx.yaml`?

I did notice that the Dockerfile for the example was slightly out-of-date, so I updated that [here](https://github.com/joelanford/helm-operator/commit/aa148c1ee9971514024a5586130930a3e81dc522) and pushed a new nginx-operator base image.

[2020-06-22 17:52] camilamacedo86 commented on #12
Hi @joelanford,

Yes, I executed `make install` and `make deploy` that should apply the samples.

[2020-06-22 17:56] camilamacedo86 opened #20 ":"error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go struct field Watch.reconcilePeriod of type time.Duration"
An issue faced when the container started.

[code]

[2020-06-22 18:00] camilamacedo86 commented on #20
Caused by : https://github.com/joelanford/helm-operator/commit/004b63ffc934e26a46c651015419ebcc5c6593b8

Shows that we change for JSON but is not working well. See that also it will work with yaml if we replace the Unmarshal/Marchal for JSONToYAML/YAMLToJSON. See: https://play.golang.org/p/D2guhgb7cvc

[2020-06-22 22:38] camilamacedo86 commented on #20
The problem was the value used in the example.

[2020-06-22 22:41] camilamacedo86 commented on #12
Tested with the main.go directly all worked. The problem is that I was using the Makefile in the example and it is not applying the CR.

[2020-06-22 23:02] #12 closed

[2020-06-22 23:03] camilamacedo86 commented on #19
I will track it in the umbrella. closing

[2020-06-22 23:03] #19 closed

[2020-06-23 01:42] camilamacedo86 commented on #14
Note the same:

Before:

[code]

Now:

[code]

[2020-06-23 01:51] camilamacedo86 commented on #10
https://github.com/joelanford/helm-operator/commit/b0490439661b0811c87e9749588a5d3b5887cc58

[2020-06-23 01:51] #10 closed

[2020-06-23 02:57] joelanford commented on #20
Oh yeah, that's why I was using `gopkg.in/yaml.v2`. I updated to use the `metav1.Duration` type from `k8s.io/apimachinery` and added a unit test that will catch this regression in the future. See https://github.com/joelanford/helm-operator/commit/9934e0254bc60f180c8892d07d43afcc1d43d580

[2020-06-23 02:57] #20 closed

[2020-06-23 09:19] camilamacedo86 opened #23 "Remove config files that are not used by helm-operator from config"
Remove config files that are not used by helm-operator from config it will make easier we perform the task to create the plugin doing the scaffold since we will know exactly what template/value we should or not scaffold.

[2020-06-23 09:21] camilamacedo86 opened #24 "Log manager setup done with flags"
Currently is not possible to know what flag was or not used because we are not logging it. It is important since the logs are which helps us and users troubleshooting the scenarios and issues.

[2020-06-23 09:22] camilamacedo86 opened #25 "Unable to use enable-leader-election flag without inform an ID"
[code]

[2020-06-23 09:26] camilamacedo86 opened #26 "Add examples of the expected values in the flag information"
Provide examples avoid scenarios such as:

[code]

[2020-06-23 09:26] camilamacedo86 opened #27 "Flags are missing validations to check if the values are or not valid"

[2020-06-23 11:41] camilamacedo86 opened #28 "Status and specs from example are not applied in the CR"
Applied `kubectl apply -f config/samples/helm_v1_nginx.yaml `

[code]

Result:

[code]

[2020-06-23 11:50] camilamacedo86 opened #29 "annotations values from example shows that are not applied"
See;

[code]

and then:

[code]

[2020-06-23 12:07] camilamacedo86 opened #30 "Check if we need to impl flags from legacy"
- [ ] --enable-delve
- [x] --go-ldflags (just go)
- [ ] --kubeconfig
- [ ] --operator-flags

[2020-06-23 12:16] camilamacedo86 opened #31 "Add basic e2e test to ensure that the example works"
Now we will not generate the project/testdata. But it can be improved after with the plugin implementation and will be helpful to ensure the changes in the repo. Such as: https://github.com/operator-framework/operator-sdk/tree/master/test/e2e-new

[2020-06-23 12:25] camilamacedo86 commented on #20
Catcher.

[2020-06-23 12:51] camilamacedo86 opened #32 "should we really create status of errors with the boolean false?"
By using the image of this project with the Helm Memcached sample was possible to check that we are adding status such as;

[code]

<img width="1354" alt="Screenshot 2020-06-23 at 13 42 39" src="https://user-images.githubusercontent.com/7708031/85406840-4787fd00-b55a-11ea-8643-cd01bb506700.png">

Why we would need to add a status `ReleaseFailed` with  False to tell that it was not faced? Would not

[2020-06-24 17:13] camilamacedo86 opened #44 "Unable to shows the diff between previous manifest and the updated one (action.upgrade)"
See: https://github.com/joelanford/helm-operator/pull/43#pullrequestreview-436841426

[2020-06-25 11:41] camilamacedo86 commented on #28
Solved in https://github.com/joelanford/helm-operator/commit/82670d1a94913e9d01df0eceb0d00672b6b88b38

[2020-06-25 11:41] #28 closed

[2020-06-25 11:41] camilamacedo86 commented on #29
it was solved in https://github.com/joelanford/helm-operator/commit/82670d1a94913e9d01df0eceb0d00672b6b88b38

[2020-06-25 11:41] #29 closed

[2020-06-25 11:44] camilamacedo86 commented on #25
After our chat and the comment in https://github.com/joelanford/helm-operator/pull/39. I understand that the path will be changed the scaffold to add OPERATOR_NAME or just to pass the flag as it is done now. So, I am closing it as sorted out.

[2020-06-25 11:44] #25 closed

[2020-06-25 11:51] camilamacedo86 commented on #31
it will be done after the plugin. Closing it for we have here just what still required to get done based on the pkg

[2020-06-25 11:52] camilamacedo86 commented on #27
after a better, though I think it is not required since the validation will be done anyway by controller-runtime or k8s api and the issue will be raised.

[2020-06-25 11:52] #27 closed

[2020-06-25 12:13] camilamacedo86 commented on #32
IMO we need to shape it:
- remove the lines that add ERRO status with status false and msg nil
- The status can be centralized in the helpers which means that we do not need to pass it as arg.

[2020-06-26 21:01] joelanford commented on #15
This is done. See https://github.com/joelanford/helm-operator/commit/a9bcf842bcc3e4005217e807a58ccd33f3d82bd0

[2020-06-26 21:01] #15 closed

[2020-06-26 21:05] joelanford commented on #23
I believe this is all done in the `plugin` branch now. We can open a new issue or a PR if we find something that shouldn't be there.

[2020-06-26 21:05] #23 closed

[2020-06-26 21:09] joelanford commented on #30
These flags are all related to the `operator-sdk run local` command, not the helm-operator base image.

The helm-operator flags we need to assess can be found with `operator-sdk exec-entrypoint helm -h`:

[code]

Of these, the only ones not currently supported in this implementation are the `--zap-*` flags. I plan to use the controller-runtime zap flags once a few PRs there merge.

[2020-06-26 21:13] joelanford commented on #31
An e2e test has added in the plugin branch that runs pretty much the same e2e test that we run in the SDK helm-operator e2e. See https://github.com/joelanford/helm-operator/commit/a21990f70de5f9f7ae587d0375970cf552eb642f

[2020-06-26 21:13] #31 closed

[2020-06-26 21:19] joelanford commented on #32
This is actually improved behavior. If a condition is not present, it is the same as that condition being present with status `Unknown`. Now, we are specifically asserting that these conditions are `False`.

See https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties

[2020-06-26 21:19] #32 closed

[2020-06-27 16:15] camilamacedo86 commented on #30
Hi @joelanford,

The `operator-sdk run local` works for helm currently and allows the above flags less ` --go-ldflags`.

[2020-06-27 16:16] camilamacedo86 opened #47 "to use the controller-runtime zap flags"
to use the controller-runtime zap flags
[code]

[2020-06-29 20:18] joelanford commented on #30
That's correct, but it is a [very simple wrapper](https://github.com/operator-framework/operator-sdk/blob/ab71095122431788fe6b8775d9606c050895c47d/cmd/operator-sdk/run/local/local.go#L135-L141) that sets the `KUBECONFIG` and `WATCH_NAMESPACE` environment variables and then runs the helm-operator entrypoint (`helm.Run()`). Since this implementation supports those environment variables, it is compat

[2020-06-29 20:18] #30 closed

[2020-07-03 12:29] camilamacedo86 commented on #26
I think it is no longer required

[2020-07-03 12:29] #26 closed

[2020-08-14 11:57] camilamacedo86 opened #60 "Apply fix made SDK"
We need to check if is required and apply here as well: https://github.com/operator-framework/operator-sdk/pull/3735/files

[2020-10-06 14:26] anmol372 opened #61 "Difficult to access updated helm-only and operator-only values in post-hook interface."
The values are available in a segregated fashion for the Post-Hook interface, which makes it difficult to keep track of updates to the CR.

The values are available at:
1. `release.Config`: Only updated if the helm release is affected
2. `release.Chart.Values`: Only contains the values of the helm-chart at the time of change in helm-release.
3. `obj *unstructured.Unstructured`: This map contains a

[2020-11-12 21:36] joelanford opened #63 "Apply updates from operator-sdk helm-operator"
- [ ] Uninstall bug: https://github.com/operator-framework/operator-sdk/pull/3431
- [ ] Build info metric: https://github.com/operator-framework/operator-sdk/pull/4220
- [ ] Plugin docker invocation: https://github.com/operator-framework/operator-sdk/pull/4226
- [ ] Improve help text: https://github.com/operator-framework/operator-sdk/pull/4187

[2020-11-25 19:17] anmol372 opened #64 "Github Action: golangci-lint fails"
The lint checker action fails with the following error:

[code]

[2020-11-25 19:34] anmol372 commented on #64
The failure is related to [GitHub Actions: Deprecating set-env and add-path commands](https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/ ).
The usage of `set-env` and `add-path` have been rectified with `golangci/golangci-lint-action@v2`

[2020-12-01 17:59] #64 closed

[2020-12-16 18:52] anmol372 commented on #63
PR for  Build info metric: [67](https://github.com/joelanford/helm-operator/pull/67)
PR to add correct help text: [kb-1830]( https://github.com/kubernetes-sigs/kubebuilder/pull/1830)
PR for Plugin docker invocation: [68](https://github.com/joelanford/helm-operator/pull/68 )

[2021-01-11 22:04] mikeshng commented on #63
FYI There is also this https://github.com/operator-framework/operator-sdk/pull/4288 that was merged

[2021-01-11 22:10] mikeshng commented on #63
If possible, could you please also consider https://github.com/operator-framework/operator-sdk/pull/4297
Due to the unintended uninstall rollback, some of our customers were hit with unintended data loss.

[2021-01-12 14:35] joelanford commented on #63
Thanks @mikeshng if there are any other Helm-related PRs that you're aware of, please post them.

We're fairly confident that this repo has everything up to SDK v1.0.0.

Our goal is to eventually replace the SDK helm-operator implementation with this one, and we want to make sure all the bug fixes and added features from the SDK repo make it here.

[2021-01-12 14:55] mikeshng commented on #63
Thanks @joelanford for all your help. Two PRs that I am less confident about and I am looking for your team's expert opinions on:

- https://github.com/operator-framework/operator-sdk/pull/4358 I think this is what some of my customers ran into: all the release records were purged making it seems like the helm app was never installed. To recover, the helm operator performed an install but failed s

[2021-01-16 05:50] joelanford commented on #13
Operator SDK's helm-operator now uses the controller-runtime leader election mechanism, so the projects are now aligned.

[2021-01-16 05:50] #13 closed

[2021-01-16 05:57] joelanford commented on #47
Flags are now identical between Operator SDK helm-operator and this repo.

[2021-01-16 05:57] #47 closed

[2021-01-16 06:06] joelanford commented on #60
This was actually done in this before we noticed we needed to fix it in the SDK repo:

https://github.com/joelanford/helm-operator/blob/e83406ecea267a31151daeb3987b7c8ae7f98045/pkg/reconciler/reconciler.go#L780-L795

[2021-01-16 06:06] #60 closed

[2021-01-25 01:51] joelanford commented on #63
For operator-framework/operator-sdk#4288, is this just a defensive check, or is there actually a code path that results in a nil error and a nil `UninstallReleaseResponse` or nil `Release`? I'm not seeing a way for the existing Helm libraries to return both a nil `Release` and a nil error.

[2021-01-25 03:02] joelanford commented on #63
I don't think operator-framework/operator-sdk#4358 is applicable here. In this repo, there is nothing that deletes releases from the storage backend outside of running through an uninstall. `manager.Sync` has been mostly replaced by [`getReleaseState`](https://github.com/joelanford/helm-operator/blob/128321dae01cbd1b399b71076e7ff9038047668c/pkg/reconciler/reconciler.go#L584-L612).

When a non-depl

[2021-01-25 14:24] mikeshng commented on #63
As I remember, I ran into a nil pointer in the old code. It was only doing:
[code]
So the primary goal of the fix was to avoid this nilpointer when `uninstallResponse` is nil.

As for the change `if log.V(0).Enabled() && uninstalledRelease != nil {` Yes, I think that's a defensive check that Eric suggested.

[2021-01-25 19:45] joelanford commented on #63
Re: operator-framework/operator-sdk#4288 - It looks like this is also not applicable in this repo since the client returns the uninstall response and then the caller correctly checks for errors before assuming the embedded release field is valid.

[2021-01-26 14:19] joelanford opened #82 "Bug: Resources with keep policy should use annotation-based watch"

[2021-01-26 20:16] #82 closed

[2021-01-27 21:26] mikeshng commented on #63
@joelanford if you have some cycles, could you please see my idea here and post a feedback message: https://lists.cncf.io/g/cncf-helm/message/351
I am trying to enhance the `helm uninstall` so the helm operator can leverage the new functionality and perform a more reliable resource cleanup upon CR delete. Thanks.

[2021-02-24 22:10] joelanford opened #87 "Update for kubebuilder v3"
See https://github.com/operator-framework/operator-sdk/pull/4402

I don't necessarily agree with all the changes in the above PR (e.g. I'm not sure the Helm plugin should [depend on the Go plugin](https://github.com/operator-framework/operator-sdk/blob/45bf80b2182ba2c004f1e591ca196627cebc2ab2/internal/plugins/helm/v1/chartutil/chart.go#L35)), so let's see if we can port these changes over and reso

[2021-02-25 05:15] #87 closed

[2021-02-26 01:53] camilamacedo86 commented on #87
hi @joelanford,

Helm/Ansible as any other plugin should not depend on golang one. the problem is that we need to align SDK with KB. It was not done for too long. See that this pr has more than 220+ files and was very hard process.

Also, you will find out todos in the code to replace the golang.options by the resource func new and validate when them one exists in KB.

See my comment here: https:/

[2021-02-26 02:02] joelanford commented on #87
Makes sense! I figured there was a good reason. I managed to use resource.Resource in the PR that closed this issue. If you have a chance, could you double check that and let me know if I overlooked something?

[2021-02-26 02:09] camilamacedo86 commented on #87
I should probably add a comment in all places to not bring this misunderstanding. Sorry about that. the follow up is never soon followed as wished :-)

[2021-03-22 13:53] joelanford opened #89 "Correctly handle watch creation for `List` object contents"
See https://github.com/operator-framework/operator-sdk/pull/4682

[2021-05-10 13:24] SimonBaeumer opened #90 "[Question] Why are helm hooks disabled by default?"
Hey @joelanford,

I found that certain default annotations are passed to the Helm library:

[annotation.go:98-107](https://github.com/joelanford/helm-operator/blob/main/pkg/annotation/annotation.go#L98-L107):
[code]

Is there a reason why disabling helm hooks are [default annotations](https://github.com/joelanford/helm-operator/blob/main/pkg/annotation/annotation.go#L27-L31)?

[2021-05-10 13:31] joelanford commented on #90
The default annotations are not automatically applied. They are simply the set of annotations that the reconciler will look for on custom objects.

So this is basically saying "by default, look for the helm.sdk.operatorframework.io/*-disable-hooks annotations, and if they are present on the custom object, then disable the hooks for that object".

[2021-05-10 13:33] joelanford commented on #90
This extension point is here to enable users of the library to selectively decide which annotations should be supported in their operator. Note that you can also add custom annotations and define how a custom annotation value maps to the install/upgrade/uninstall options.

[2021-05-10 14:46] joelanford commented on #90
Awesome! Much appreciated!

[2021-05-10 14:52] SimonBaeumer opened #91 "Multiple values mapper with fixed execution order"
Currently it is possible to add one values mapper via `WithValueMapper` to the helm reconciler.
For our use-case it is necessary to overwrite values from different sources with different priorities.
Example:

 1. Default values configuration
 2. Values applied derived from CRD
 3. Values overwritten from environment
 4. Values overwritten based on custom-logic
 5. [...]

A possible implementation

[2021-05-11 04:50] joelanford commented on #91
I'm also curious about this use case. It sounds like you're setting up what amounts to defaults for the custom object's spec, which then pass through the various follow-on mappers to eventually get mapped to the helm chart's values.

I (perhaps naively) only ever considered needing to map the actual values provided in the custom object's spec because I figured anything left undefined after passing

[2021-05-11 17:00] SimonBaeumer commented on #91
Yes, if something wasn't mapped it uses the charts default values.
In this case we need defaults for our development environment, resource requests for our services are >10GB which is not really necessary for local development.

The helm charts defaults are more like production defaults if a customer deploys it into their cluster to have ready-to-go setup.

[2021-06-10 07:22] SimonBaeumer opened #94 "Helm operator stucks if install/upgrade were aborted due to unexpected exit of the operators"
If I kill the operator while an helm install is executed it is not able to recover as it always receives an error due to the existing lock.

[2021-06-16 02:14] #90 closed

[2021-06-16 02:52] joelanford commented on #94
Hmm. I wasn't aware that helm created a lock during installs (and I assume other operations that affect release data?).

Could you share the error you were getting and/or any other breadcrumbs? Assuming the lock is some sort of kube object helm creates, I wonder if we could inject a label or other identifier that could help us identify it later as a lock we created (vs the helm CLI or another clie

[2021-06-16 07:41] SimonBaeumer commented on #94
Hey @joelanford ! Thanks for your answer! :)
Helm does update its release secret status to `deploy_pending`:

[code]

I even found several issue in helm like [this](https://github.com/helm/helm/issues/7476) but until now it looks like the only solutions are:
 - deleting the secret
 - updating the status of the release manually
 - do a rollback

I'll try to fix this today and add you to the PR - wo

[2021-06-16 16:34] joelanford commented on #94
Ah! I'm pretty sure (though not positive) that we inject an owner reference into the release secret. If so, that would help us identify release secrets we create. Whatever solution we choose, I think it should include a check that we will only try to automatically resolve it if we see that we are the only interested party to the release.

That would avoid a situation where the operator suddenly in

[2021-08-17 07:10] SimonBaeumer commented on #91
This can be closed as @joelanford solution works.

[2021-08-17 07:10] #91 closed

[2021-09-14 19:23] varshaprasad96 opened #104 "Framework for testing helm and hybrid plugins in this repository"
**E2e tests currently in this repository:**
Currently, the repository has a `make test` command which patches the operator-sdk to include the hybrid plugin and scaffolds a sample project. It further runs the `make build` command and verifies if the scaffolded project builds. This is a GitHub action and runs for every PR.

**Downside:**
The test is highly fragile and it is difficult the inject the

[2021-09-25 08:55] SimonBaeumer opened #106 "Limit maximum Helm release history"
While running a Helm operator on each `helm upgrade` a new Helm release secret is created.
Adding an option to set a maximum number of Helm releases would solve this.

Provided a patch we already use in production in a PR, see https://github.com/operator-framework/helm-operator-plugins/pull/107.

[2021-11-09 09:17] porridge commented on #106
FTR, this fixed by #107 which is now merged.

[2021-11-09 09:17] #106 closed

[2021-11-09 12:21] porridge opened #113 "Allow more flexibility in the code which converts CR to Helm values"
As a developer of an operator, I would like to have more flexibility in the code which converts a custom resource object to the helm `chartutil.Values`. Currently such code needs to conform to the `values.Mapper` interface which simply maps `chartutil.Values` to another `chartutil.Values`, which is just `map[string]interface{}`, and does not allow returning errors.

Specifically the desired featur

[2021-11-16 16:07] theishshah commented on #104
Happy to help get E2E testing up alongside Scorecard testing in CI (we can look into a basic set of custom tests for helm as well)

[2021-11-16 16:47] varshaprasad96 commented on #14
It would be helpful to have this in a debug level logging. It may not be convenient to have yaml diffs as that can turn out to be extremely verbose.

[2021-11-16 16:47] varshaprasad96 commented on #14
/assign @SimonBaeumer

[2021-11-16 16:50] varshaprasad96 commented on #44
@camilamacedo86 is this related to logging the diff between the updated manifests. Can you please add more info to this?

[2021-11-17 07:30] porridge opened #117 "`make test` does not work on MacOS"
BSD sed (as shipped with MacOS) does not support `+` nor `\+` in regular expressions.
However it does support `\{1,\}` which does the same thing and is also supported by GNU sed.

Moreover, bash 3.2 (as shipped with MacOS) does not seem to support `source <(...)`, it seems to just do nothing.
Using plain eval seems to do the trick though.

Symptom of the former issue is:
[code]

And of the latter:

[2021-11-17 07:30] porridge commented on #117
/assign

[2021-11-18 12:54] #117 closed

[2021-11-18 16:44] SimonBaeumer commented on #14
/assign @SimonBaeumer

[2021-11-30 15:10] varshaprasad96 opened #136 "Add docs on Hybrid operator"
There are no docs related to hybrid operators. We would need docs to encourage users to start using hybrid operators which is an extension of Helm based operators.

Add a `README` which contains the steps to scaffold out a sample hybrid operator.

[2021-11-30 16:14] varshaprasad96 commented on #24
This is definitely a useful addition to add logs. @camilamacedo86 would you like to reopen the PR?
PS: it would also be useful to users if we log the whole `WatchOptions` and the flags which are setup by the user.

[2021-11-30 16:14] varshaprasad96 commented on #24
/assign @fabianvf

[2021-11-30 16:22] jmrodri commented on #63
@varshaprasad96 please review to see where we are with this, close when done.

[2021-11-30 16:44] jmrodri commented on #136
Transform this ticket into a meta issue for docs related items. During the Helm community meeting we brought up the issue of where to host it, for now let's focus on the content and deal with hosting later.

[2021-12-02 10:14] porridge opened #137 "Deleting the namespace holding a CR usually orphans cluster-scoped resources "owned" by this CR"
# The issue

Let's say we have an helm-based operator for a `Foo` kind, whose backing helm chart renders some namespace-scoped resources, as well as some cluster-scoped resources, say a `ValidatingWebhookConfiguration` called `${foo-namespace-and-name}-foo-validation`.

Now take the following sequence of events:

## Setup

1. a user creates a `foohome` namespace,
2. in that namespace the user crea

[2021-12-02 18:12] joelanford commented on #137
With this option, what would happen if a user just went in and manually tried to delete the helm release secret? It seems like the following steps would occur:
1. Helm release secret gets a deletion timestamp, but is not deleted because it has a finalizer
2. CR gets reconciled since we're watching the release secret (what happens here?)

The deletion of the helm release secret would hang until the

[2021-12-06 06:16] #89 closed

[2021-12-06 07:24] varshaprasad96 commented on #63
Went through the updates with respect to helm-operator in operator-sdk after SDK 1.0 release till v1.15.0. These are the following updates:

- [ ] Add predicates for filtering : https://github.com/operator-framework/operator-sdk/pull/4997
- [ ] Add option to watch list types : https://github.com/operator-framework/helm-operator-plugins/pull/138
- [ ] Helm operator reconciliation diffs are now logg

[2021-12-06 08:42] camilamacedo86 opened #140 "Bump Kubebuilder 3.2 and ensure that helm operator plugins will have the latest changes in the scaffolds"
**Description**

This task is for us to track the need to bump KB to this project. Note that:

- See that this project is customizing the values for the resource request and limits when it is n longer required
- Also, it is missing the TODOs in the scaffolds

By bumping KB we can ensure that this project will be able to get the latest changes and fixes provided via it.

[2021-12-06 08:42] camilamacedo86 commented on #140
c/c @varshaprasad96

[2021-12-09 19:38] varshaprasad96 opened #142 "Scaffolding RBAC when go and helm apis are specified in the project"
Problem:
When using `create api` command with both helm and go plugin, the `roles.yaml` in `config/` directory is rewritten. However, the other rbac manifests which specify the permissions to view and edit the custom object is present. This requires an additional step of modifying the rbac manually and applying it to the cluster.

Possible solution:
Scaffold roles for each APIs in separate files a

[2021-12-10 11:19] porridge commented on #137
**Currently** I think the only safe option would be to:
1. (optionally) put up an error in the CR `status` warning about the unexpected secret deletion, and
2. refuse to reconcile anything other than a deletion of the CR.
This would solve the "namespace deletion" case. As for the "user decided to delete just the release secret" case, this should at least guide them to what they did wrong - by foll

[2021-12-14 11:50] varshaprasad96 commented on #136
Updated this to be a meta-issue with sub sections.

[2021-12-14 16:13] jmrodri commented on #44
During the community meeting it was decided that we do not want to show the diff under normal circumstances. In the past they were at `info` level. Today we have them at a `debug` level, the community was fine with leaving it at debug level so that it could be enabled if needed.

[2021-12-14 16:13] #44 closed

[2021-12-14 16:31] SimonBaeumer commented on #94
Action items / open questions:
- Check for the owner reference on Helm secrets and config maps to only resolve pending states on operator owned resources
- Should not operator owned resources recover from pending states?
- Adding tests

[2021-12-14 16:38] varshaprasad96 commented on #142
We can have `roles.yaml` for go api, and have a separate Kustomize file that has rbac for helm api.

[2021-12-14 18:00] joelanford commented on #137
Oh TIL about that KEP. Big 👍 from me. That feature would be a big win for operators.

One of the root causes of this problem is that namespace-scoped objects (the CR controlling a helm release) can't be owners of cluster-scoped objects or objects in other namespaces. If the CR was cluster-scoped:
1. It couldn't be deleted as part of a namespace deletion
2. It could own any other object in the clus

[2021-12-14 20:01] #113 closed

[2021-12-17 11:18] porridge commented on #137
While adding support for cluster-scoped CRs might be a useful feature, I don't think we should recommend to operator developers to make their CR cluster-scoped just because their helm chart happens to contains a couple of cluster-scoped resources. There are valid reasons to keep things in namespaces, access control and resource quotas being primary ones.  So I don't think it counts as a solution t

[2021-12-20 13:15] SimonBaeumer opened #144 "How should the Helm operator handle existing Helm installations?"
If a Helm operator is installed into a namespace with an already existing Helm release how should the operator handle this situation.

A) automatically reconcile and try to match the CR's state
B) failing because the operator tries to reconcile a resource which is not owned by the operator (in this case the Helm release secret)

**Suggestion**

 - By default fail on releases which were not owned b

[2021-12-20 15:04] joelanford commented on #144
My first thought was actually option 3.

Generally yeah. But it's theoretically possible for someone to run `helm uninstall && helm install` really quickly between operator reconciliations (maybe the operator lost its connection to the apiserver temporarily), so I could see this annotation being more in the vane of "Always ensure the release secret is owned by me", which implies that the operator

[2022-01-11 17:01] varshaprasad96 commented on #144
Based on the discussion during the community meeting, Joe mentioned these 2 points:
1. If we decide on Option3, it should be configurable. Annotations can have custom domain name prefixes, like `memcached.xx.operatorframework.io`.
2. Option 2 maybe not be desirable, since in previous implementations - the `spec` field of CR and the fields in values.yaml had 1 to 1 mapping, but it maynot be the exa

[2022-02-19 18:03] SimonBaeumer opened #152 "Add annotation to override or adding Helm values"
Sometimes it is necessary to override Helm values which are not set by the Operator if used with a Custom Resource.

In our case the custom resource abstracts the Helm values and differentiates. Nevertheless our Helm charts provides more options than the CR thus necessary to add overrides to adjust Helm values directly (or disabling auto-sensing for specific values).

## Proposal

Add `operators.o

[2022-02-19 18:35] SimonBaeumer commented on #144
For a CR use-case this is true because the CR needs to be implemented by us manually. To be honest, thinking twice it does not make sense than to be implemented in the helm-operator-plugins itself.

Yes, but we can only be optimistic in catching user-errors. If a user asks the operator to take over releases the user is expected to not touch it anymore or need to stop the operator.

I don't think s

[2022-02-22 16:12] asmacdo commented on #152
We are wondering why we would need to take this path, rather than simply adding these values to the CRD?

@joelanford  suggested that the operator author could make use of the value translator interface, so custom annotations can be read by the operator that way, but it we will need a good use case to accept this in the helm plugin.

[2022-04-28 20:24] everettraven commented on #140
3.2 is done. Closing

[2022-04-28 20:25] #140 closed

[2022-04-28 20:26] everettraven opened #160 "Bump Kubebuilder to 3.4"
We need to bump Kubebuilder to 3.4. This would have some breaking changes due to adding support for go 1.18

[2022-05-04 19:50] everettraven opened #163 "`run` subcommand panicking due to nil pointer dereference"
## Problem
After following the [tutorial](https://github.com/operator-framework/helm-operator-plugins/blob/main/docs/tutorial.md) and building the helm-operators-plugins manually with `make build`, running:
[code]
results in:
[code]

This seems to be occurring due to [line 171 in internal/cmd/hybrid-operator/run/cmd.go](https://github.com/operator-framework/helm-operator-plugins/blob/b9e775b35f547

[2022-05-04 20:37] everettraven commented on #160
After taking a brief look into this. It seems as though we won't be able to upgrade to Kubebuilder 3.4.0 until Helm updates their k8s dependency versions to 0.24.0,

Helm's latest release is 3.8.2 which uses k8s dependencies at 0.23.6. The k8s dependencies locked at 0.23.6 causes us to have an indirect dependency on `sigs.k8s.io/kustomize/api v0.10.1` which is causing the following error when atte

[2022-05-04 20:43] everettraven commented on #160
There is already a PR for this bump to be made: https://github.com/helm/helm/pull/10928

[2022-05-04 21:12] camilamacedo86 commented on #160
Kubebuilder 3.4 does not support 1.18 or k8s 1.24 yet.
But yes, +1 to bump and update this project with its latest changes.
Note that the Makefile will need to be updated/changed as well.

[2022-05-17 15:25] jmrodri opened #166 "document release process"
We need to do another release and there is no release documentation.

[2022-05-17 16:15] #163 closed

[2022-05-17 16:30] varshaprasad96 commented on #166
We do have GitHub actions setup in this repository which release helm binaries for different architectures. However, for the last two releases we are only releasing the source code. We need to clean up and update the GitHub action to release hybrid and helm binaries.

[2022-06-01 14:14] #24 closed

[2022-06-01 14:18] everettraven opened #171 "goreleaser action is broken"
The goreleaser action currently tries to install goreleaser from `install.goreleaser.com` which is no longer a domain that can be resolved.

This same problem happened with Operator SDK and the fix PR can be found here: https://github.com/operator-framework/operator-sdk/pull/5782/files

[2022-06-07 14:59] #171 closed

[2022-06-22 13:30] joshgav opened #183 "Include final digit in prerelease API versions"
Standard Kubernetes prerelease API versions (at <https://github.com/kubernetes/api>) include a number after the alpha or beta keyword, e.g. `v1alpha1`, `v1alpha2`, `v1beta1`, etc.

But this hybrid plugin and the Quarkus/Java one leave off the final digit of the version, as in the following paths. Could you please add a final number in the future for consistency with other K8s APIs and to prevent h

[2022-08-03 18:02] camilamacedo86 opened #185 "crd-version and webhook-version flags should be removed"
This flags are deprecated and are only useful for those that want to create CRD and Webhooks using v1beta1 which is longer served since k8s 1.22. This options does not work with the dependencies of controller-runtime and controller-tools used in this project

[2022-08-03 18:07] camilamacedo86 opened #186 "Ignore"
Ignore

[2022-08-03 22:05] #186 closed

[2022-08-03 23:01] camilamacedo86 opened #188 "Hybrid is missing config for cert-manager and webhooks"
## Description

If we check in the [config/default/kustomization.yaml](https://github.com/operator-framework/helm-operator-plugins/blob/main/testdata/hybrid/memcached-operator/config/default/kustomization.yaml), Hybrid provides the cert-manager and webhooks config but it is missing the specific directories.

## Propose Solution

a) Add missing scaffolds

If we should support both then we need to e

[2022-08-03 23:02] camilamacedo86 commented on #188
c/c @varshaprasad96

[2022-08-04 10:45] porridge opened #189 "Data race due to shared rest.Config"
This is somewhat complicated, a full description and repro case is at https://github.com/porridge/config-race-repro

TL;DR: the `ToRESTConfig()` method of the `restClientGetter` type provides a pointer to the same shared `rest.Config` object, which the `k8s.io/cli-runtime/pkg/resource` shamelessly mutates as it if assumed ownership. This leads to corrupt requests, and in consequence orphaned objec

[2022-08-05 07:17] porridge commented on #189
/assign

[2022-08-05 18:02] #189 closed

[2022-08-08 18:15] laxmikantbpandhare commented on #188
/assign - I will take a look into it.

[2022-08-08 19:12] laxmikantbpandhare commented on #188
@camilamacedo86 - I am able to recreate this and I agree with you. So either we need to add logic for adding these directories `webhook` and `cert-manager` with respective files or remove those commented code from scaffolding.

[2022-08-08 21:25] varshaprasad96 commented on #188
@camilamacedo86 The issue seems to be that for the sake of project to be compatible with Helm api, we are removing those files. But eventually its getting added due to Go. The solution for this would be to entirely remove the Webhooks/Certmanager part from `config/default/kustomization.yaml` as it is plain Helm: https://github.com/operator-framework/operator-sdk/blob/master/testdata/helm/memcached

[2022-08-09 23:46] laxmikantbpandhare commented on #185
I will take a look into it.

[2022-08-10 00:35] laxmikantbpandhare commented on #185
As of now, I added a deprecation warning. Anything else is expected of this issue?

[2022-08-10 06:38] camilamacedo86 commented on #185
This plugin is alpha therefore we can remove things.
Another point is that to use v1beta1 CRD/Webhook would be required to downgrade the dependencies which we do not here. So, this option does not seems to work well either. Because of this, I thought that the best approach would to be remove them.

@varshaprasad96 wdyt?

[2022-08-10 16:13] #188 closed

[2022-08-10 16:36] #185 closed

[2022-08-24 14:17] akihikokuroda opened #194 "No simple way to add PostRenderer for Install and Upgrade"
The PostRenerer in `Install` and `Upgrade` are used by the `helm-operator-plugins`.  The caller of the Install / Upgrade of the plugin functions can not add its own PostRenderer easily.

[2022-09-02 18:47] #194 closed

[2022-11-07 16:48] joelanford opened #203 "Expose wait and timeout controls for uninstall/rollbacks after install/upgrade failures"
Currently, the built-in `actionClient` performs uninstalls when installs fail and rollbacks when upgrades fail, and it is hardcoded with no waits or timeouts.

We have an issue in rukpak (see https://github.com/operator-framework/rukpak/pull/596), where it is desirable to be able to configure waits with timeouts on the uninstall/rollback to ensure that an uninstall/rollback completes before the ne